version: "3.7"
services:
  master:
    image: homecentr/dns:latest
    name: homecentr-dns
    user: "{{ cnt_uid }}:{{ cnt_gid }}"
    labels:
      - io.homecentr.local-networks: "[{ \"Network\": \"{{ macvlan_network_name }}\", \"Config\": { \"IPAMConfig\": { \"IPV4Address\": \"{{ dns_master_ip }}\" } } }]"
    dns:
      - 127.0.0.1 # required for health check    
    volumes:
      # the directory MUST be writable, BIND9 writes jnl files next to the configuration
      - "master_config:/config:rw"

# TBA: DNS Slave service

volumes:
  master_config:
    driver: glusterfs
    name: "{{ gluster_config_volume_name }}/dns/master"