version: "3.7"
services:
  test_site:
    image: zembutsu/nginx-sample
    networks:
      internal:
    labels:
      io.homecentr.local-networks: "[{ \"Network\": \"{{ macvlan_network_name }}\", \"Config\": { \"IPAMConfig\": { \"IPV4Address\": \"192.168.2.40\" } } }]"    

  master:
    image: homecentr/dns:latest
    networks:
      internal:
    environment:
      PUID: "{{ cnt_uid }}"
      PGID: "{{ cnt_gid }}"
    labels:
      io.homecentr.local-networks: "[{ \"Network\": \"{{ macvlan_network_name }}\", \"Config\": { \"IPAMConfig\": { \"IPV4Address\": \"{{ dns_master_ip }}\" } } }]"
    dns:
      - 127.0.0.1 # required for health check    
    volumes:
      - "master_config:/config:rw"

  master_exporter:
    image: homecentr/dns-exporter:latest
    ports:
      - 9119:9119
    networks:
      internal:
    environment:
      EXPORTER_ARGS: "-bind.stats-url http://homecentr-dns_master:8888"
      PUID: "{{ cnt_uid }}"
      PGID: "{{ cnt_gid }}"

  slave:
    image: homecentr/dns:latest
    networks:
      internal:
    environment:
      PUID: "{{ cnt_uid }}"
      PGID: "{{ cnt_gid }}"
    labels:
      io.homecentr.local-networks: "[{ \"Network\": \"{{ macvlan_network_name }}\", \"Config\": { \"IPAMConfig\": { \"IPV4Address\": \"{{ dns_slave_ip }}\" } } }]"
    dns:
      - 127.0.0.1 # required for health check    
    volumes:
      - "slave_config:/config:rw"

  slave_exporter:
    image: homecentr/dns-exporter:latest
    ports:
      - 9120:9119
    networks:
      internal:
    environment:
      EXPORTER_ARGS: "-bind.stats-url http://homecentr-dns_slave:8888"
      PUID: "{{ cnt_uid }}"
      PGID: "{{ cnt_gid }}"

networks:
  internal:
    driver: overlay
    attachable: true

volumes:
  master_config:
    driver: glusterfs
    name: "{{ gluster_config_volume_name }}/dns/config/master"

  slave_config:
    driver: glusterfs
    name: "{{ gluster_config_volume_name }}/dns/config/slave"