version: "3.7"
services:
  dns:
    image: homecentr/dns:latest
    name: homecentr-dns
    user: "{{ cnt_uid }}:{{ cnt_gid }}"
    dns:
      - 127.0.0.1 # important for health check    
    restart: unless-stopped
    volumes:
      # the directory MUST be writable, BIND9 writes jnl files next to the configuration
      - "{{ volumes_root }}/homecentr-dns/config:/config:rw"
    networks:
      macvlan:
        ipv4_address: {{ dns_master_ip if dns_mode == "master" else dns_slave_ip }}

networks:
  macvlan:
    name: "homecentr-macvlan"
    external: true